.message-header{
height:70px;
}

.message-body{
  min-height:500px;
  
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr{
  text-align: left;
}

.message {
  position: relative;
}

.message span {
   position: absolute;
   bottom: 0;
   left: 0;
}
